table{
	border: 1px solid #ddd;}
	
table tr th:nth-last-child(1),table tr td:nth-last-child(1){
	color: #62aae9;
	}
.addPerson{
	width: 90px;
	background: #ef8842;
	color: #fff;
}
.delete{
	width: 90px;
	background: #e5394a;
	color: #fff;
	}
.table tr td:nth-last-child(1){
	text-align: left;
}	
/*模态框样式*/
#Modal{
	position: fixed;
	top: 150px;
	left: 15%;
	}
.modalDialog{width: 450px;}
.formGroup{margin-bottom: 40px;}
.modalTitle{font-size: 12px;} 
.lineRight{  
	text-align: right;
    margin: 0 0 0 15px;
    } 
.pagination{margin: 0;} 
.modalFoot{
	border-top: 0;
	text-align: center;
	}
.container button{width: 90px;}
.modalFoot button{width: 80px;}
.modalBody{padding: 15px 15px 15px 0px;}
.msgbox {padding: 30px 0 20px 0;}
.cancel{
	background: #d2d2d2;
   	color: #fff;
   	border: 0;
}
.labelText{
    text-align: right;
    line-height: 32px;
    font-weight: normal;
} 
.submit{
	background: #62aae9;
	color: #fff;
	border: 0;
}
#ModalCont{
	width: 300px;
	position: fixed;
	top: 150px;
	left: 47%;
	}
.btun{
	padding: 5px 40px;
	background: #62aae9;
	border: 0;
	margin-left: 0;
	}