.AddCourse{
	background: #ef8842;;
    border: 0;
    color: #fff;
}

.del{
	background: #e5394a;
    color: #fff;
    border: 0;
} 

table tr{
	border-left: 1px solid #ddd; 
	border-bottom:1px solid #ddd;
	}
.table tbody tr td,.table tbody tr th{
	border: 0;
	} 
.table tbody tr th:nth-last-child(1){
	text-align: right;
}		
.table tbody tr td:nth-last-child(1){
	text-align: right;
}		
.pagination{
	margin: 0;
}



.modalTitle {
	font-size: 12px;
	}
#Modal{
	position: fixed;
	top: 150px;
	left: 20%;
	}
.modal{
	position: fixed;
	top: 150px;
	left: 35%;
	}
.modalDialog{width: 450px;}
.formGroup{margin-bottom: 40px;}
.modalTitle{font-size: 12px;} 
.title{
	text-align: right;
	line-height: 25px;
	}  
.modalFoot,.modfoot{
	margin-top: 15px;
	padding: 30px;
	border-top: 0;
	text-align: center;
	}
table tr th a,table tr td a{
	cursor: pointer;
}	
.container button{
	width: 90px;
	}
.pag{
	margin: 0;
}	
.modalFoot button{
	width: 80px;
	}
.modalBody{
	padding: 15px 15px 15px 0px;
	}
.msgbox {
	padding: 30px 0 20px 0;
	}
#ModalCont{
	width: 300px;
	position: fixed;
	top: 150px;left: 47%;
	}
.Cancel{
	background: #b5b5b5;
	border: 0;
	color: #fff;
	}
.Submit{
	background: #62aae9;
	border: 0;
}	
.btnGroup{
	margin-bottom: 20px;
	}
.btnGroup button{
	width: 90px;
}	
.container img{width: 75%;} 

.contnet { margin: 5% 35%;} 
.butn{
	padding: 5px 40px;
	background: #62aae9;
	border: 0;
	}
.modalFoot button {
	width: 80px;
	}

