.Addclass{
	width: 90px;
	background: #ef8842;
	color: #fff;
	border: 0;
}
.Submit{
    background: #62aae9;
    color: #fff;
    border: 0;
    }
.del{
	background: #e5394a;
    color: #fff;
    border: 0;
} 
.Cancel{
	background: #b5b5b5;
	border: 0;
	color: #fff;
} 
.pag{
	padding-left: 135px;
	margin: 0;
	} 
table tr{
	border-left: 1px solid #ddd;
	border-bottom:1px solid #ddd;
	}
.table tbody tr td,.table tbody tr th{border: 0;} 
table tr td:nth-child(2) a{cursor: pointer;}
.table tbody tr th:nth-last-child(1){
	text-align: right;
}		
.table tbody tr td:nth-last-child(1){
	text-align: right;
}	
.paglist{text-align: right;}
.paglist ul{margin: 0;}
.modalTitle {font-size: 12px;}
.title{
	text-align: right;
	line-height: 25px;
	}  
.modal{
	position: fixed;
	top: 150px;
	left: 15%;
	}
.modalDialog{width: 450px;}
.formGroup{margin-bottom: 40px;}
.modalTitle{font-size: 12px;} 
.textRight{
	text-align: right;
	line-height: 25px;
}  
.modalFoot,.modfoot{
	margin-top: 15px;
	padding: 30px;
	border-top: 0;
	text-align: center;
	}
.container button{width: 90px;}
.modalFoot button{width: 80px;}
.modalBody{
	padding: 15px 15px 15px 0px;
	}
.msgbox {
	padding: 30px 0 20px 0;
	}
#ModalCont{
	width: 300px;
	position: fixed;
	top: 150px;
	left: 47%;
	}
.btun{
	padding: 5px 40px;
	background: #62aae9;
	border: 0;
	margin-left: 0;
	}
.container img{width: 75%;} 
/*.container button{width: 110px;}*/
.contnet { margin: 5% 35%;} 
.butn{
	padding: 5px 40px; 
	background: #62aae9; 
	border: 0;
	}
.modalFoot button {width: 80px;}
